{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Chat</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet"
        href="{% static "css/materialize.min.css" %}"
        media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block css %}
  {% endblock %}

</head>
<body>
<div class="container">
  {% block contenido %}
  {% endblock %}
</div>

<script type="text/javascript"
        src="{% static "js/materialize.min.js" %}"></script>
{% block js %}
{% endblock %}
</body>
</html>