{% extends "chat/base_chat.html" %}
{% block contenido %}
  <div class="row">
    <div class="input-field col s12">
      <input id="room-name-input" type="text"
             class="validate">
      <label for="room-name-input">¿Que nombre quieres colocarle a la
        sala?</label>
    </div>

    <div class="input-field col s12">
      <button id="room-name-submit"
              class="waves-effect waves-light btn  pulse"
              type="button" value="">Enviar
      </button>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#room-name-submit').click();
      }
    };
    document.querySelector('#room-name-submit').onclick = function (e) {
      var roomName = document.querySelector('#room-name-input').value;
      if (roomName == "") {
        M.toast({html: 'Debes llenar el nombre de la sala'})
      } else {
        window.location.pathname = '/chat/' + roomName + '/';
      }

    };
  </script>
{% endblock %}