{% extends "chat/base_chat.html" %}
{% block contenido %}
  <div class="row">
  <div class="input-field col s12">
    <textarea placeholder="Historial de mensajes" readonly id="chat-log" class="materialize-textarea"></textarea>
    <label for="chat-log">Historial</label>
  </div>
  <div class="input-field col s12">
    <input id="chat-message-input" type="text"
           class="validate">
    <label for="chat-message-input">Mensaje</label>
  </div>
  <div class="input-field col s12">
    <button id="chat-message-submit"
            class="waves-effect waves-light btn  pulse"
            type="button" value="">Enviar
    </button>
  </div>
{% endblock %}

{% block js %}
  <script>
    var roomName = {{ room_name_json }};
    var chatSocket = new WebSocket(
      'ws://' + window.location.host +
      '/ws/chat/' + roomName + '/');
    chatSocket.onmessage = function (e) {
      var data = JSON.parse(e.data);
      var message = data['message'];
      document.querySelector('#chat-log').value += (message + '\n');
      M.textareaAutoResize(document.querySelector('.materialize-textarea'))
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
      if (e.keyCode === 13) {  // enter, return
        document.querySelector('#chat-message-submit').click();
      }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
      var messageInputDom = document.querySelector('#chat-message-input');
      var message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
        'message': message
      }));
      messageInputDom.value = '';
    };
  </script>
{% endblock %}